@import (reference) "./variables.less";
@import "./fonts.less";

  


html {
    color: @color-text;

    font: 16px 'Roboto Condensed';
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    color: inherit;
}
*{
    box-sizing: border-box;
}
