@import (reference) "./variables.less";
@import "./fonts.less";

  


html {
    color: @color-text;

    font: 14px 'Montserrat';
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    color: inherit;
}
*{
    box-sizing: border-box;
}
body{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
button{
    background-color: inherit;
    border:none
}