.header__header {
    height: 50px;
    max-width: 1200px;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: 56px 15% auto 56px;
    grid-template-areas: "show logo find contacts";
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin: 0;
    @media (min-width: 768px) {
        height: unset;
        grid-template-columns: 0 150px auto 200px;
        position: static;
        padding: 12px;
    }
}
