@import "../../less/variables.less";
.menu__submenu{
    padding: 1rem 0;
    transition: opacity linear 300ms;
    @media (min-width:768px){
        opacity: 0;
        position: fixed;
        display: flex;
        left: 0;
        padding: 0;
        margin: 1rem 0;
        width: 100%;
        background-color: @color-text;
        justify-content: stretch;
    }
    &_show{
        opacity: 1;
    }
}
