.finder__input-container {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    left: 16.5%;
    right: 20.75%;
    top: 13.64%;
    bottom: 48.48%;
    &:hover,
    &:focus {
        box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
            0px 8px 16px rgba(50, 50, 71, 0.06);
    }
}
