@import (reference) "../../less/variables.less";
.modal__main {
    width: 272px;
    background-color: #fff;
    overflow-y: scroll;
    top: 5px;
    bottom: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -200%;
    transition: right @cubic500;
    &-show {
        right: 0;
    }
    @media (min-width:768px){
        right: unset;
        width: 100%;
        top: 0;
        bottom: 0;
    }
}
